<form class="well" (submit)="addTask($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task...">
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
</form>

<div class="col-md-3 col-xs-3">
</div>
<div class="col-md-3 col-xs-3">
    <b>TITLE</b>
</div>
<div class="col-md-3 col-xs-3">
    <b>STATUS</b>
</div>
<div class="col-md-3 col-xs-3">
    <b>ACTION</b>
</div>
<br> <br>
<div class="task-list">
    <div *ngFor="let task of tasks">
        <div class="col-md-3 col-xs-3">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
        </div>
        <div class="col-md-3 col-xs-3">
            {{task.title}}
        </div>
        <div class="col-md-3 col-xs-3">
            {{task.isDone}}
        </div>
        <div class="col-md-3 col-xs-3">
            <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">
        </div>
        <br><br>
    </div>
</div>